{% extends 'layout_admin.html.twig' %}

{% block content %}
<div class="g-pa-20">
    <h1>{{ 'panel.page.not_found.title'|trans }}</h1>
    <p>{{ 'panel.page.not_found.text'|trans }}</p>
</div>
{% endblock %}
